* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #14396c;
    --secondary-color: #ebab76;
    --accent1-color: #242724;
    --accent2-color: #f8f88a;
    --heading-font: "Anton", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

header {
    background-color: white;
    color: var(--accent2-color);
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: white;
    background-color: var(--accent1-color);
    padding: 10px;
    text-align: center;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

nav a {
    color: black;
    display: block;
    padding: 5px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 25px;
    width: 100%;
    padding: 15px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--primary-color);
    color: white;
}

.hero article {
    position: absolute;
    top: 150px;
    width: 95%;
    padding: 15px;
    opacity: 0.8;
    background-color: var(--primary-color);
    color: white;
}

.hero article img {
    float: right;
    width: 200px;
    border: black;
}

.socialmedia img {
    width: 40px;
    height: auto;
    margin: 0 8px;
}