* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #293c86;
    --secondary-color: #090758;
    --accent1-color: #2b5326;
    --accent2-color: #574004;
    --heading-font: "Anton", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: var(--accent2-color);
    width: 840px;
    margin: 0 auto;
    padding: 1rem;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: white;
    background-color: var(--secondary-color);
    padding: 10px;
    text-align: center;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 25px;
    width: 100%;
    padding: 15px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--primary-color);
    color: white;
}

.hero article {
    position: absolute;
    top: 150px;
    width: 95%;
    padding: 15px;
    opacity: 0.8;
    background-color: var(--primary-color);
    color: white;
}

.hero article img {
    float: right;
    width: 200px;
    border: black;
}

.socialmedia img {
    width: 40px;
    height: auto;
    margin: 0 8px;
}

header img {
    width: 120px;
}

.history {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 1rem;
    align-items: center;
}

.history img {
    width: 100%;
}

.history h2 {
    grid-column: 1 / -1;
}

.adventure-images {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.adventure-images figure {
    text-align: center;
}

.adventure-images img {
    width: 100%;
    max-width: 150px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 840px;
    margin: 0 auto;
}

.socialmedia {
    display: flex;
    gap: 1rem;
}