* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: inline-block;
    padding: 10px;
}

h1 {
    color: black;
    padding: 10px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 10px;
}

main {
    max-width: 840px;
}

aside {
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 130px;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: #333;
    text-align: center
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 20%);
    padding: 1rem;
    background-color: lightgrey;
    color: black;
    width: 20rem;
}