body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
}

main {
    width: 400px;
    margin: 0 auto;
}

h1 {
    margin: 10px;
    height: auto;
}

h2 {
    border-bottom: 1px solid #222;
}

img {
    width: 100%;
    height: auto;
    box-shadow: 20px 0px 20px #333;
}

section {
    margin: 20px 0;
    border: 1px solid rgb(0 0 0 /10%);
    padding: 10px;
    background-color: aliceblue;
    font-size: .9 rem;
}

footer {
    background-color: #333;
    color: #fff;
    font-size: .9 rem;
    text-align: center;
    padding: .5px;
}